<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{% block title %} TUNA {% endblock %} </title>
<link href="{{ url_for("static", filename="css/bootstrap.min.css")}}" rel="stylesheet" />
{# <link href="{{ url_for("static", filename="css/flat-ui.css")}}" rel="stylesheet" /> #}
<link href="{{ url_for("static", filename="css/tuna.css")}}" rel="stylesheet" />
{% block style %}{% endblock %}
</head>
<body>
<div class="container">
  <div class="header">
    <h3> {% block heading %} TUNA {%endblock%} </h3>
    {#<ul class="nav nav-pills pull-right">
      <li> </li>
    </ul>#}
  </div>
  <div class="jumbotron">
    {%block content%}{% endblock%}
  </div>
  <div class="footer">
    &copy; 清华大学<s>技术宅</s>网络协会 Tsinghua University TUNA Association
  </div>

</div>
</body>
<script src="{{ url_for("static", filename="js/jquery.min.js")}}"></script>
{% block js %}{% endblock %}
</html>
{# vim: ft=jinja 
#}
