- from 'utils.jade' import link_css, link_js, render_field

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title
      block title
        = _('Join TUNA')
    +link_css("bootstrap.min.css")
    +link_css("material-fullpalette.min.css")
    +link_css("ripples.min.css")
    +link_css("roboto.min.css")
    style
      | .form-control-wrapper {
      |   margin: 30px 0px;
      | }
  body
    .container
      .content
        .row
          .col-lg-6.col-lg-offset-3
            .jumbotron.clearfix
              if success  
                .alert.alert-success#msg-success
                  = _("Registered successfully") | safe
              if err_msg
                .alert.alert-warning
                  = err_msg | safe
              div.btn-group.pull-right
                button(type="button", class="btn btn-default dropdown-toggle ", data-toggle="dropdown")
                  = _("Language")
                  span.caret
                ul(role="menu" class="dropdown-menu")
                  each translation in all_locales
                    li
                      a(href=url_for('join', locale=translation))
                        = translation.get_language_name()
              h2
                = _("Join Us")
              form#join(autocomplete="off", method="POST", novalidate)
                each field in form
                  +render_field(field)
                button#submit.btn.btn-primary.pull-right(type="submit")
                  = _("Let's go")
      .footer
        .row
          .col-lg-6.col-lg-offset-3
            | &copy; 清华大学<s>技术宅</s>网络与开源软件协会 Tsinghua University TUNA Association

    +link_js("jquery.min.js")
    +link_js("material.min.js")
    +link_js("ripples.min.js")
    +link_js("bootstrap.min.js")
    +link_js("bootstrap3-typeahead.min.js")
    +link_js("load-image.all.min.js")
    +link_js("adapter.js")

    script
      :coffeescript
        $ ->
          departments = [
              "经管学院", "技术经济系", "新闻学院", "分析中心", "美术学院", "教研院", "苏世民书院", "新雅书院", "清华大学全球创新学院", "航院", "网络研究院", "微纳电子系", "城规系", "建筑系", "土木系", "水利系", "环境学院", "机械学院", "机械系", "精仪系", "能动系", "汽车系", "工业工程", "信息学院", "电机系", "电子系", "计算机系", "自动化系", "工物系", "力学系", "化工系", "材料学院", "理学院", "数学系", "物理系", "化学系", "高研院", "周培源数学中心", "管理系", "企管系", "经济系", "贸易系", "会计系", "公管学院", "人文社科学院", "哲学系", "中文系", "外文系", "历史系", "法学院", "体育部", "图书馆", "土水学院", "建管系", "核研院", "微电子所", "文研所", "附中", "附小", "医学院", "医学系", "药学院", "生医系", "软件学院", "建筑学院", "信研院", "企业战略系", "营销系", "马克思主义学院", "生命学院", "交叉信息院", "地学系", "金融学院", "人文学院", "社科学院"
            ]

          $('#department').typeahead
            source: departments
            minLength: 0

          $('form#join').submit ->
            $('button#submit').disable()

          $.material.init()

          # For browser which do not support it.
          #$('input[autofocus]').focus()